<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/app.css">
        <link rel="icon" href="/images/icon.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This was created by Naseem. It uses data from mapbox.com and darksky.net to fetch weather forecast</p>
            <img class="portrait" src="/images/robot.png">
        </div>
        {{>footer}}
    </body>
</html>