<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="/css/app.css">
        <link rel="icon" href="/images/icon.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{helpText}}
        </div>
        {{>footer}}
    </body>
</html>